@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ここにCSSを書いてデザインを入れよう */

/* colors */
/*
  #4c4c4c: bread-crumbs
  #666666: aside-background
  #a0a0a0: aside
  #999999: site-title
  #aaaaaa: body
  #afafaf: navbar-grey
  #cccccc: address
  #d8d8d8: navbar-lightgrey
  #dddddd: article
  #eeeeee: article-title
  #ffffff: form
*/

html {
  font-size: 62.5%;
}

body {
  background: #aaaaaa;
  margin: 0px auto;
  font-family: Helvetica, Arial;
  font-size: 1.6rem;
  width: 1024px;
}

.container {
  margin: 1px 30px 0px;
  border: 0px;
  box-shadow: 0 0 4px 2px rgba(80, 80, 80, 0.3);
}

.header {
  position: relative;
  width: 100%;
  height: 140px;
  background: #999999;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.header__title {
  position: absolute;
  height: 3.9rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: rgb(65, 65, 65);
  line-height: normal;
  text-shadow: 0px 1px 1px #cccccc;
}


/* global-nav */

.global-nav {
  display: table;
  width: 100%;
  font-size: 1.8rem;
}

.global-nav__items {
  display: table-row;
  list-style: none;
}

.global-nav__item {
  display: table-cell;
  width: 20%;
  background: #d8d8d8;
  text-align: center;
  line-height: 4.2rem;
  padding: 10px 0px;
  box-shadow: 0px 1px 1px 1px rgba(150, 150, 150, 0.8);
}

.global-nav__item a {
  color: #444;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 1px 1px white;
}

.global-nav li:nth-child(even) {
  background: #afafaf;
}


/* パンくずリスト */

.bread-crumbs {
  background: #4c4c4c;
  font-size: 14px;
}

.bread-crumbs__items {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  padding: 10px;
  width: 100%;
}

.bread-crumbs__item {}

.bread-crumbs__items a {
  text-decoration: none;
  color: white;
}

li.bread-crumbs__item+li:before {
  content: "　>　";
  color: grey;
}


/* top ads */

.top-ads__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #cccccc;
  padding: 20px auto;
}

.top-ads__item img {
  max-width: 300px;
  height: auto;
  margin: 10px auto;
}


/* .body */

.body {
  display: flex;
  width: 100%;
}

.main {
  flex: 2;
  background: #dddddd;
}

.main-header {
  position: relative;
}


/* ドッグイヤー */

.main-header::after {
  position: absolute;
  content: '';
  top: 0px;
  right: 0px;
  border-width: 24px 24px 24px 24px;
  border-color: #cccccc #cccccc #a9a9a9 #a9a9a9;
  border-style: solid;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

/* page title */
.main-header__title {
  position: relative;
  line-height: 100px;
  height: 100px;
  padding-left: 50px;
  font-size: 2.8rem;
  font-weight: bold;
  background: #eeeeee;
  border-bottom: 2px solid #ccc;
}

.main-header__title::before {
  position: absolute;
  content: '';
  top: 36px;
  left: 13px;
  width: 12px;
  height: 24px;
  background-image: linear-gradient(#a0a0a0 50%, #3f3f3f 50%);
}

.main-header__title::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 24px;
  top: 36px;
  left: 25px;
  background-image: linear-gradient(#3f3f3f 50%, #a0a0a0 50%);
}

.article {
  padding: 15px;
}

.article__image {
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}

/* 記事タイトル */
.article__title {
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: 2.2rem;
  font-weight: bold;
  margin: 10px 0;
  padding-left: 20px;
}

.article__title::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 38px;
  top: 11px;
  left: 0;
  background-image: linear-gradient(grey 50%, dimgrey 50%);
}


/* 記事見出し */

.article__sub-title {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  padding-left: 20px;
  margin: 20px;
}


/* 長方形 */

.article__sub-title::before {
  position: absolute;
  content: '';
  top: 0;
  left: -12px;
  width: 4px;
  height: 2rem;
  background: #444;
}


/* 三角形 */

.article__sub-title::after {
  position: absolute;
  content: '';
  border-left: 1.5rem solid #444;
  border-top: 1rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 1rem solid transparent;
  top: 0;
  left: -5px;
}

*[class*="paragraph"] {
  margin: 1rem auto;
}


/* 番号なしリスト */

.article__unorder-list {
  list-style: disc;
  margin: 0 0 0 1.5rem;
}

.article__unorder-list-item {
  margin: 0.5rem;
}


/* 番号付きリスト */

.article__order-list {
  list-style: decimal;
  margin-left: 2rem;
}

.article__order-list-item {
  margin: 1rem;
}


/* 引用文 */
.article__blockquote {
  position: relative;
  margin: 4rem 0 2rem 4px;
  padding-left: 2rem;
  border-left: 6px solid #999999;
}

.article__blockquote::before{
  position: absolute;
  content: '"';
  width: 30px;
  height: 30px;
  background: #999999;
  border-radius: 50%;
  font-size: 4rem;
  color: white;
  top: -2.4rem;
  left: -18px;
  text-align: center;
  line-height: 50px;
}
.article__blockquote::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
}


/* 小見出し */

.article__sub-sub-title {
  position: relative;
  margin: 10px auto;
  padding-left: 30px;
  font-size: 1.8rem;
  font-weight: bold;
}

.article__sub-sub-title::before {
  position: absolute;
  content: '';
  top: 20%;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #4c4c4c;
  border-radius: 50%;
}
.article__sub-sub-title::after {
  position: absolute;
  content: '';
  top: 20%;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: #bbbbbb;
  border-radius: 50%;
}


/* お問い合わせ */
.form {
  background: white;
  padding: 15px;
}

.form__title{
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 110px;
  margin: 10px auto 20px;;
}

/* mail icon */
.form__title::before{
  position: absolute;
  content: '';
  width: 3.8rem;
  height: 2.4rem;
  top: -5px;
  left: 50px;
  border: 2px;
  border-color: #666666;
  border-style: solid;
}
.form__title::after{
  position: absolute;
  content: '';
  top: -18px;
  left: 56px;
  border-top: 30px solid transparent;
  border-right: 30px solid #afafaf;
  transform: rotate(45deg);
}

/* form-item */
.form-item{
  text-align: right;
  margin-bottom: 20px;
}
.form-item__label{
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.form-item__text-input{
  box-sizing: border-box;
  width: 60%;
  border-radius: 3px;
  border: 1px solid rgba(180,180,180,0.3);
}
.form-item__textarea{
  box-sizing: border-box;
  width: 60%;
  height: 10rem;
  border-radius: 3px;
  border: 1px solid rgba(180,180,180,0.3);
}

.form-item__inline-items{
  display: inline-block;
  width: 60%;
  text-align: left;
}
.form-item__inline-item{
  display: inline-block;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 auto;
  background: #eeeeee;
  width: 90px;
  border-radius: 3px;
  border: 1px solid rgba(180,180,180,0.3);
}

.form div:nth-child(6) > ul li.form-item__inline-item{
  background: #dddddd;
}

/* pull down select */
.form-item__select-pull-down{
  box-sizing: border-box;
  width: 60%;
  border: 1px solid rgba(180,180,180,0.3);
  background: #eeeeee;
}
.form-item__select-list{
  box-sizing: border-box;
  width: 60%;
  border-radius: 3px;
  border: 1px solid rgba(180,180,180,0.3);
  background: #eeeeee;
}
.form-item__file{
  box-sizing: border-box;
  width: 60%;
  padding: 4px;
  border-radius: 3px;
  border: 1px solid rgba(180,180,180,0.3);
  background: #eeeeee;
}

/* button */
.form-item__actions{
  display: inline-block;
  width: 60%;
  text-align: left;
}
.form-item__actions-items{
}
.form-item__actions-item{
  display: inline-block;
}
.form-item__action{
  width: 150px;
  border-radius: 4px;
}
.form-item__action.is-submit{
  color: white;
  background: #444444;
  height: 3rem;
}
.form-item__action.is-reset{
  color: grey;
  height: 3rem;
}

/* aside */
.aside {
  order: -1;
  background: #666666;
  padding: 20px;
}

.aside-ads__item {
  margin-bottom: 15px;
}

.local-nav__items {
  list-style: none;
  margin-top: 30px;
  height: 150px;
  background: #666666;
  overflow: scroll;
  border-radius: 10px;
}

.local-nav__item {
  line-height: 1.6rem;
  width: 100%;
  background: #b4b4b4;
  padding: 5px 10px;
  margin-bottom: 2px;
}

.local-nav__item:last-child{
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.local-nav__item a {
  color: #eee;
  text-decoration: none;
}

/* footer */
.footer{
  background: #444444;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.footer-nav{
  flex: 1 0 45%;
}
.footer-nav__items{
  padding:10px;
  display: inline-block;
}
.footer-nav__item{
  color: grey;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer-nav__item a{
  color: #cccccc;
  text-decoration: none;
}
.footer-nav__item::before{
  content: ' > ';
}

.about-author{
  flex:1 0 55%;
  box-sizing: border-box;
  background: #cccccc;
  border-radius: 5px;
  padding: 10px 5px;
  height: 250px;
  text-align: left;
}

.about-author__title{
  margin: 10px 10px 30px;
}

.about-author__image{
  box-sizing: border-box;
  border-radius: 50%;
  max-width: 20%;
  padding-left: 10px;
  height: auto;
  float: left;
}

.about-author__descriptions{
  box-sizing: border-box;
  display: inline-block;
  color: grey;
  width: 80%;
}

.about-author__descriptions dt{
  margin-bottom: 1rem;
}

.about-author__term{
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  width: 20%;
}

.about-author__description{
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 78%;
  padding-left: 20px;
}

.footer-copyright{
  color: white;
  margin-top: 20px;
  text-align: center;
}
